.right {
    text-align: right;
}

.reveal .yellow
{
  // color: rgb(255, 0, 0);
  color:rgb(255, 255, 0)
}

.reveal section img
{
  border:0;
  background: none;
  box-shadow: none;
}

.reveal h6
{
  font-size: 70%;
  line-height: 1;
  color: yellow;
}
